= flash[:error]

- form_tag(session_url) do
  .login
    = label :sesion, :openid_url, "OpenID "
    = text_field_tag :openid_url, '', :class => 'openid-login'
    = submit_tag 'Sign in', :disable_with => 'Signing in&hellip;'
    %p
      %em Please login using your OpenID.