#creation-tools
  %p
    =link_to "add new article", new_post_path, :class => "icon add-new-post", :title => "add new article"
    =link_to "add new location", new_location_path, :class => "icon add-new-location", :title => "add new location"
